site_name: RIM-Tool Docs
site_url: https://nsacyber.github.io/rim-tool
repo_url: https://github.com/nsacyber/rim-tool
repo_name: nsacyber/rim-tool
nav:
  - Home:
      - index.md
      - getting-started.md
      - Commands:
          - commands/index.md
          - Create: commands/create.md
          - Verify: commands/verify.md
          - Print: commands/print.md
          - Sign: commands/sign.md
          - Get: commands/get.md
      - RIM Types:
          - RIMs/index.md
          - TCG PC Client RIM: RIMs/tcg-pc-client-rim.md
          - TCG Component RIM: RIMs/tcg-component-rim.md
          - CoSWID Tag: RIMs/coswid.md
          - CoRIM: RIMs/corim.md
      - Appendix:
          - configuration-files.md
  - Background:
      - background/index.md
      - background/pc-rim.md
      - background/component-rim.md
      - background/composite-rim.md
theme:
  name: material
  icon:
    logo: material/wrench
  palette:
    # Palette toggle for automatic mode
    - media: "(prefers-color-scheme)"
      toggle:
        icon: material/brightness-auto
        name: Switch to light mode
    # Palette toggle for light mode
    - media: "(prefers-color-scheme: light)"
      scheme: default
      toggle:
        icon: material/brightness-7
        name: Switch to dark mode
    # Palette toggle for dark mode
    - media: "(prefers-color-scheme: dark)"
      scheme: slate
      toggle:
        icon: material/brightness-4
        name: Switch to system preference
  features:
    - content.code.copy
    - navigation.indexes
    - navigation.expand
    - navigation.sections
    - navigation.tabs
extra:
  social:
    - icon: fontawesome/brands/github
      link: https://github.com/nsacyber/rim-tool
markdown_extensions:
  - admonition
  - toc:
      permalink: true
  - footnotes
  - pymdownx.superfences
  - pymdownx.tabbed:
      alternate_style: true
  - attr_list
  - md_in_html
  - pymdownx.details
  - pymdownx.highlight:
      anchor_linenums: true
      line_spans: __span
      pygments_lang_class: true
  - pymdownx.inlinehilite
  - pymdownx.snippets
  - pymdownx.emoji:
      emoji_index: !!python/name:material.extensions.emoji.twemoji
      emoji_generator: !!python/name:material.extensions.emoji.to_svg
